<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.statussavvy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />-->
    <permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:name="com.android.statussavvy.insta.InstaStoryApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StatusSavy"
        tools:targetApi="31" >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.android.statussavvy.activity.Home"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:exported="true">

        </activity>
        <activity
            android:name="com.android.statussavvy.activity.OverHome"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--<activity android:name=".instagram.LoginActivity">

        </activity>-->
        <activity
            android:name="com.android.statussavvy.activity.StatusActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name="com.android.statussavvy.activity.MediaView"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name="com.android.statussavvy.FB.DownloadActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name="com.android.statussavvy.activity.SavedView"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.android.statussavvy.activity.WallpaperView"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.android.statussavvy.activity.AllView"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.android.statussavvy.activity.Login"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.android.statussavvy.activity.Splash"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Invite"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".activity.Web"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
    </application>

</manifest>